@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&family=Space+Grotesk:wght@400;500;600;700&display=swap");
@import "tailwindcss";

/* ================================
   UTILITY CLASSES
================================ */
@utility inverted-shape {
  clip-path: shape(
    from 13.12% 0%,
    hline to 86.5%,
    arc to 91% 4.5% of 4.5% 4.5% cw small rotate 0deg,
    vline to 7.5%,
    arc to 95.5% 12% of 4.5% 4.5% ccw small rotate 0deg,
    hline to 95.5%,
    arc to 100% 16.5% of 4.5% 4.5% cw small rotate 0deg,
    vline to 90.43%,
    arc to 90.43% 100% of 9.57% 9.57% cw small rotate 0deg,
    hline to 26%,
    arc to 20% 94% of 6% 6% cw small rotate 0deg,
    vline to 69%,
    arc to 14% 63% of 6% 6% ccw small rotate 0deg,
    hline to 6%,
    arc to 0% 57% of 6% 6% cw small rotate 0deg,
    vline to 13.12%,
    arc to 13.12% 0% of 13.12% 13.12% cw small rotate 0deg,
    close
  );
}

/* ================================
   DESIGN TOKENS
================================ */

:root {
  /* Typography */
  --font-main: "Space Grotesk", sans-serif;
  --font-mono: "IBM Plex Mono", monospace;

  /* Light */
  --background: #ebe2cf;
  --surface: #ffffff;

  --text: #222222;
  --muted: #666666;

  --border: #222222;

  /* Pastels */
  --pink: #f5aa98;
  --green: #d9f0df;
  --purple: #ddd4f5;
  --orange: #f6d5a8;
  --blue: #cbdcf4;

  /* Accent */
  --accent: #24c979;
}

/* ================================
   DARK THEME
================================ */

.dark {
  /* Dark */
  --background: #313131;
  --surface: #1a1a1a;
  --text: #f2f2f2;
  --muted: #a5a5a5;
  --border: #eeeeee;

  /* Dark Pastels */
  --pink: #3a2826;
  --green: #1e3328;
  --purple: #29243a;
  --orange: #382c20;
  --blue: #222d3b;
  --accent: #48e89a;
}

/* ================================
   TAILWIND THEME
================================ */

@theme {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-text: var(--text);
  --color-muted: var(--muted);
  --color-border: var(--border);

  --color-pink: var(--pink);
  --color-green: var(--green);
  --color-purple: var(--purple);
  --color-orange: var(--orange);
  --color-blue: var(--blue);
  --color-accent: var(--accent);

  --blur-2xs: 2px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  font-family: var(--font-main);
  color: var(--text);
  background: var(--background);

  transition:
    background-color 0.25s ease,
    color 0.25s ease;
}

button,
input,
textarea {
  font: inherit;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

::selection {
  background: var(--text);
  color: var(--background);
}

/* ================================
   CUSTOM SCROLLBAR
================================ */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--text);
  border: 2px solid var(--background);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}

/* ================================
   theme transition
================================ */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-new(root) {
  clip-path: circle(0px at var(--theme-x) var(--theme-y));

  animation: theme-reveal 600ms ease-out forwards;
}

@keyframes theme-reveal {
  to {
    clip-path: circle(var(--theme-radius) at var(--theme-x) var(--theme-y));
  }
}
